* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./image/bg.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.container {
    width: 90%;
    height: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "element1 element1 element1 element2 element2 element3 element3"
    "element1 element1 element1 element2 element2 element3 element3"
    "element1 element1 element1 element2 element2 element3 element3"
    "element4 element4 element5 element5 element5 element3 element3"
    "element4 element4 element5 element5 element5 element3 element3"
    "element4 element4 element5 element5 element5 element3 element3"
    ;
}

.element {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    line-height: 1.5;
    border-radius: 1em;
}

.element1 {
    background-color: brown;
    grid-area: element1;
}

.element2 {
    background-color: cornflowerblue;
    grid-area: element2;
}

.element3 {
    background-color: rebeccapurple;
    grid-area: element3;
}

.element4 {
    background-color: seagreen;
    grid-area: element4;
}

.element5 {
    background-color: deeppink;
    grid-area: element5;
}

.user__image {
    border-radius: 50%;
    max-width: 25%;
}
.user__image, .user__info {
    display: inline-block;
    vertical-align: middle;
}

.user__name, .user__category {
    margin: 0.5em 1em;
    opacity: 0.5;
}

.card__title {
    font-weight: 700;
    font-size: 1em;
}

.card__text {
    opacity: 0.7;
    font-size: 0.95em;
}

@media screen and (max-width: 1150px) {


    .container{
        height: fit-content;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "element1 element1 element1 element2 element2"
        "element1 element1 element1 element2 element2"
        "element1 element1 element1 element2 element2"
        "element4 element4 element5 element5 element5"
        "element4 element4 element5 element5 element5"
        "element4 element4 element5 element5 element5"
        "element3 element3 element3 element3 element3"
        "element3 element3 element3 element3 element3"
    ;
    }
}

@media screen and (max-width: 715px) {

    .container{
        min-width: 250px;
        height: fit-content;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "element1"
        "element1"
        "element1"
        "element2"
        "element2"
        "element2"
        "element4"
        "element4"
        "element4"
        "element5"
        "element5"
        "element5"
        "element3"
        "element3"
        "element3"
    ;
    }
}