* {
    margin: 0;
    box-sizing: border-box;
}

.parent__content {
    display: flex;
    flex-flow: row nowrap;
    min-height: 100vh;
    height: fit-content;
    overflow: hidden;
    gap: 1px;
    max-height: 100vh;
}

.son {
    text-align: center;
}

.son__nav {
    background-color: dimgray;
    flex: 1;
    min-width: fit-content;
    display: block;
    
}


.son__body {
    background-color: lightslategrey;
    flex: 2;
}

.son__trend {
    background-color: darkgray;
    flex: 1;
}































