
#titulo {
    color: #FF0808;
}   

* {
    background-color: gray;
}

.center {
    padding: 50px 0;
    text-align: center;
    width: 250px;
    margin: 0 auto;
}   

.post {
    background-color: #FF0808;
    border: 2px black solid;
    margin: 0 auto;
    padding: 10px 5px;
}

.text {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 5px 5px;
}

.right {
    float: right;
}

.textright {
    text-align: justify;
    padding: 10px 10px;
    margin: 150px 0px 0px 150px;
    border: 1px #001FFF solid;
    width: 300px;
}

.left {
    float: left;
}

.titulopost {
    text-decoration: underline;
    text-decoration-color: #001FFF;
    padding: 50px 0 0 0;
    text-align: left;
    width: 250px;
    margin-left: 100px;
}

.positionpostelement {
    padding: 5px 0;
    text-align: left;
    width: 400px;
    margin-left: 100px;
    
}

.borderimg {
    border: 1px #FF0808 solid;
    padding: 0;
}