html {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url(./image/fondos-abstractos-para-paginas-web-wallpaper-hd-para-bajar-gratis-elegant-3d-abstract-wallpaper-2018-wallpapers-.jpg);
    color: #F5FCCD;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.card__container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.card__top-left {
    display: inline-block;    
    width: 50%;
    height: 45%;
}
.card-bodytext--title, .card-bodytext--text {
    margin-left: 8.25rem;
    margin-top: 11rem;
}
.card-bodytext--text {
    margin-top: 4rem;
    margin-right: 20rem;
    color: #F5FCCD;
}
.card-bodytext--title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #78D6C6;
    font-family: 'Courier New', Courier, monospace;
}
.card__top-right {
    float: right;
    width: 50%;
    height: 45%;
}
.card__lvl-star {
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: #12486B;
    color: azure;
    border-top: 0.25rem solid #78D6C6;
    border-right: 0.25rem solid #78D6C6;
    box-shadow: 5px 10px 15px #12476b78;
}
.card-lvl-star-top, .card-lvl-star-center, .card-lvl-star-bottom {
    display: block;
    margin: 2rem;
}

.card-lvl-star-top {
    margin-top: 10rem;
    margin-left: 15rem;
}
.card-lvl-star-center {
    margin-left: 17.5rem;
}
.card-lvl-star-bottom {
    margin-left: 20rem;
}
.card-image-lvl-star {
    width: 2rem;
    padding-top: 1rem;
}
.card-lvl-star-titlename, .card-lvl-star-titleprofetion {
    position: absolute;
    margin-left: 3rem;
    font-size: 1.15rem;
}
.card-lvl-star-titlename {
    top: 0;
}
.card-lvl-star-titleprofetion {
    top: 1rem;
}
.card__left, .card__center, .card__right {
    margin: 3rem;
}
.card__left {
    float: left;
    margin-left: 8.25rem;
    margin-top: 4rem;
    margin-right: 3rem;
}
.card__center {
    float: left;
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.card__right {
    float: right;
    margin-right: 8.25rem;
    margin-top: 12rem;
    margin-left: 3rem;
}
.card__body {
    display: inline-block;
    position: relative;
    width: 25rem;
    height: 15rem;
    background-color: #12486B;
    color: #F5FCCD;
    border-radius: 1rem;
    padding: 1rem;
    border-top: 0.25rem solid #78D6C6;
    box-shadow: 5px 10px 10px #12476b78;
}
.card-image {
    width: 4rem;
}
.card-titlename, .card-titleprofetion {
    display: inline;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}
.card-titlename {
    position: absolute;
    top: 0;
    font-weight: 700;
}
.card-titleprofetion {
    position: absolute;
    top: 1.5rem;
    color: #78D6C6;
    font-family: 'Courier New', Courier, monospace;
}
.card-description {
    margin-top: 2rem;
}